<app-navbar [save]="save" [goBack]="goBack">
</app-navbar>

<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
         <form [formGroup]="myForm" novalidate autocomplete="off">
        <span class="card-title"><b style="margin-left: 2em;">Inventario</b></span>
        <div class="row" style="margin: 0 2em;">
          <div class="col s2">
            <input placeholder="Clave" formControlName="clave" type="text" class="validate">
            <!-- <label for="key">Clave</label> -->
          </div>
          <div class="col s6">
            <input placeholder="Descripción" formControlName="desc" type="text" class="validate">
            <!-- <label for="desc">Descripción</label> -->
          </div>
          <div class="col s2">
            <input placeholder="Precio" formControlName="precio" type="number" class="validate">
            <!-- <label for="price">Precio</label> -->
          </div>
          <div class="col s2" *ngIf="!edit">
            <button class="nav-save-btn_ btn waves-effect waves-light" style="width: 100%;" (click)="submitSurveyData()" [disabled]="!(myForm.valid)">Agregar</button>
            <!-- <label for="price">Precio</label> -->
          </div>
          <div class="col s2" *ngIf="edit">
            <button class="nav-save-btn_ btn waves-effect waves-light" style="width: 100%;" (click)="submitEditData()" [disabled]="!(myForm.valid)">Actualizar</button>
            <!-- <label for="price">Precio</label> -->
          </div>
        </div>
         </form>
        <div class="card-content">
           <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>Clave</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Editar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let form of Part;let i=index;">
                <td>{{form.clave}}</td>
                <td>{{form.desc}}</td>
                <td>$ {{form.precio}}</td>
                <td><button class="nav-save-btn_ btn waves-effect waves-light btn-small" (click)="editPieza(form)">Editar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
