<app-navbar [submitSurveyData]="submitSurveyData" [myForm]="myForm" [save]="save">
</app-navbar>

<div class="app">
  <form [formGroup]="myForm" novalidate autocomplete="off">
  <section>
    <div class="page">
      <div class="inner">
        <header class="header">
          <div class="logoa">
            <img src="assets/gutmar.png" alt="">
          </div>
          <div class="titlea">
            <h5 style="color: #3e3f3f; margin: 0; font-weight: 600;">GUTMAR AUTOMOTRIZ</h5>
            
           <!--  <p>MECÁNICA ESPECIALIZADA</p>-->
            <p>Tel. 3 34 51 01 Y 3 34 61 59</p>
            <p>g-utmar1@hotmail.com</p>
          </div>
          <div class="logob">
            <p style="border:none; text-align: right;">Pino Humboltzin No. 74</p>
                <p style="border:none; text-align: right;">Fracc. Los Pinos</p>
                <p style="border:none; text-align: right;">C.P. 58057 MORELIA MICH.</p>
                <p style="border:none; text-align: right;">RFC RAG050922T68</p>
            
          </div>
        </header>
        <div class="sectiona">
          <div class="table" id="t1">
            <div class="tr">
              <div class="td">ORDEN DE SERVICIO No.</div>
              <div class="td"><input type="number" style="color: red;" formControlName="orden" min="0" step="1" autofocus placeholder="**" tabindex="0" class="focusNext"></div>
              <div class="td">FECHA: </div>
              <div class="td"><input type="text" formControlName="fecha"></div>
              <div class="td">LUGAR: </div>
              <div class="td"><input type="text" formControlName="lugar" tabindex="1" class="focusNext"></div>
            </div>
          </div>
        </div>
        <div class="sectiona">
          <div class="table" id="t2">
            <div class="tr">
              <div class="td">CONSUMIDOR: </div>
              <div class="td"><input type="text" formControlName="nombre" placeholder="**" tabindex="2" class="focusNext"></div>
              <div class="td">R.F.C. </div>
              <div class="td"><input type="text" formControlName="rfc" tabindex="3" class="focusNext"></div>
              <div class="td">GARANTÍA: </div>
              <div class="td" style="width: 2cm;"><input type="text" formControlName="garan" tabindex="4" class="focusNext"></div>
            </div>
            <div class="tr">
              <div class="td">DOMICILIO: </div>
              <div class="td"><input type="text" formControlName="domi" tabindex="5" class="focusNext"></div>
              <div class="td">TEL: </div>
              <div class="td"><input type="text" formControlName="tel" tabindex="6" class="focusNext"></div>
              <div class="td">C.P. </div>
              <div class="td"><input type="text" formControlName="cp" tabindex="7" class="focusNext"></div>
            </div>
            <div class="tr">
              <div class="td">CIUDAD: </div>
              <div class="td"><input type="text" formControlName="ciudad" tabindex="8" class="focusNext"></div>
              <div class="td">CORREO: </div>
              <div class="td"><input type="text" formControlName="correo" tabindex="9" class="focusNext"></div>
            </div>
          </div>
        </div>
        <div class="sectionb">
          <div class="table" style="margin-bottom: 2mm;">
            <div class="tr">
              <div class="td cen bb br">MARCA</div>
              <div class="td cen bb br">MODELO</div>
              <div class="td cen bb br">TIPO</div>
              <div class="td cen bb br">AÑO</div>
              <div class="td cen bb br">COLOR</div>
              <div class="td cen bb">No. DE SERIE</div>
            </div>
            <div class="tr">
              <div class="td"><input type="text" tabindex="10" class="focusNext" formControlName="marca"></div>
              <div class="td"><input type="text" tabindex="11" class="focusNext" formControlName="modelo"></div>
              <div class="td"><input type="text" tabindex="12" class="focusNext" formControlName="tipo"></div>
              <div class="td"><input type="text" tabindex="13" class="focusNext" formControlName="anio"></div>
              <div class="td"><input type="text" tabindex="14" class="focusNext" formControlName="color"></div>
              <div class="td"><input type="text" tabindex="15" class="focusNext" formControlName="serie"></div>
            </div>
          </div>
          <div class="table" style="margin-bottom: 2mm;">
            <div class="tr">
              <div class="td cen bb br">KILOMETRAJE</div>
              <div class="td cen bb br">PLACAS</div>
              <div class="td cen bb br">No. DE MOTOR</div>
              <div class="td cen bb br">FECHA DE INGRESO</div>
              <div class="td cen bb br">HORA</div>
              <div class="td cen bb br">FECHA DE ENTREGA</div>
              <div class="td cen bb">HORA</div>
            </div>
            <div class="tr">
              <div class="td"><input type="text" tabindex="16" class="focusNext" formControlName="km"></div>
              <div class="td"><input type="text" tabindex="17" class="focusNext" formControlName="placas"></div>
              <div class="td"><input type="text" tabindex="18" class="focusNext" formControlName="nomotor"></div>
              <div class="td"><input type="date" tabindex="19" class="focusNext" formControlName="ingreso"></div>
              <div class="td"><input type="text" tabindex="20" class="focusNext" formControlName="ihora"></div>
              <div class="td"><input type="date" tabindex="21" class="focusNext" formControlName="entrega"></div>
              <div class="td"><input type="text" tabindex="22" class="focusNext" formControlName="ehora"></div>
            </div>
          </div>
          <div class="table" style="padding: 1mm;">
            <div class="tr">
              <div class="td" style="width: 7%;">ASESOR: </div>
              <div class="td"><input type="text" formControlName="asesor" tabindex="23" class="focusNext"></div>
            </div>
          </div>
        </div>
        <div class="sectionc" style="margin-top: 2mm;">
          <table>
            <tr>
              <td>
                <div class="table" id="inv" style="display: inline-block; margin-bottom: 0;">
                  <div class="tr" style="width: 100%;">
                    <div class="td" style="font-weight: 600;">EXTERIORES</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td"> <input type="checkbox" tabindex="14" class="focusNext" formControlName="uluces"> UNIDADES DE LUCES </div>
                    <div class="td"><input type="checkbox" tabindex="17" class="focusNext" formControlName="qluces"> 1/4 DE LUCES</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="antena"> ANTENA</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="espejol"> ESPEJO LATERAL</div>
                  </div>
                  <div class="tr">
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="crista"> CRISTALES</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="emblem"> EMBLEMA</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="llantas"> LLANTAS (4)</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="taponr"> TAPÓN DE RUEDAS (4)</div>                    
                  </div>
                  <div class="tr bb">
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="bocinac"> BOCINAS DE CLAXON</div>
                    <div class="td"><input type="checkbox" tabindex="20" class="focusNext" formControlName="limpia"> LIMPIADORES</div>
                    <div class="td"></div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td" style="font-weight: 600;">INTERIORES</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><input type="checkbox" tabindex="15" class="focusNext" formControlName="instru"> INSTRUMENTOS DE TABLERO
                    </div>
                    <div class="td"><input type="checkbox" tabindex="18" class="focusNext" formControlName="calef"> CALEFACCIÓN</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="radio"> RADIO/TIPO</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="bocinas"> BOCINAS</div>
                  </div>
                  <div class="tr">
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="encend"> ENCENDEDOR</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="espejor"> ESPEJO RETROVISOR</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="cenic"> CENICEROS</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="cintu"> CINTURONES</div>
                  </div>
                  <div class="tr bb">
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="botoni"> BOTONES DE INTERIORES</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="maniji"> MANIJAS DE INTERIORES</div>
                    <div class="td"><input type="checkbox" tabindex="21" class="focusNext" formControlName="tapet"> TAPETES DE VESTIDURAS</div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td" style="font-weight: 600;">ACCESORIOS</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><input type="checkbox" tabindex="16" class="focusNext" formControlName="gato"> GATO</div>
                    <div class="td"><input type="checkbox" tabindex="19" class="focusNext" formControlName="manerg"> MANERAL DE GATO</div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="llaver"> LLAVE DE RUEDAS</div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="estuch"> ESTUCHE DE HERRAMIENTAS</div>
                  </div>
                  <div class="tr bb">
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="triang"> TRIANGULO DE SEGURIDAD</div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="llantar"> LLANTA DE REFACCIÓN</div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="exting"> EXTINGUIDOR</div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td" style="font-weight: 600;">COMPONENTES MECÁNICOS</div>
                    <div class="td"></div>
                    <div class="td"></div>
                    <div class="td"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="filtro"> FILTRO DE AIRE</div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="taponv"> TAPÓN Y VARILLA DE ACEITE
                    </div>
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="tradia"> TAPÓN DE RADIADOR</div>                    
                    <div class="td"><input type="checkbox" tabindex="22" class="focusNext" formControlName="acumul"> ACUMULADOR</div>                    
                  </div>
                </div>
              </td>
              <!-- <td>
                <div>
                  <div class="gauge_">
                    <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue"
                      [centralLabel]="centralLabel" [options]="options" [name]="name" [bottomLabel]="bottomLabel">
                    </rg-gauge-chart>
                    <input id="slider" type="range" min="0" max="100" class="no-print" (change)="combus($event)" formControlName="gas"/>
                  </div>
                </div>
              </td> -->
            </tr>
          </table>
          <div class="table" id="table_">
            <div class="tr thead">
              <div class="td">DESCRIPCIÓN DE SERVICIO SOLICITADO</div>              
            </div>
            <div class="tr">
              <div class="td br"><textarea  rows="3" tabindex="24" class="focusNext" formControlName="descri"></textarea></div>
            </div>
          </div>
          <div class="table" id="table_">
            <div class="tr thead">
              <div class="td">DIAGNÓSTICO</div>              
            </div>
            <div class="tr">
              <div class="td br"><textarea  rows="3" tabindex="25" class="focusNext" formControlName="diagn"></textarea></div>
            </div>
          </div>
          <table class="table" id="table_">
            <tr class="tr">              
              <td class="td br cen" style="background-color: #3f3f3f; color: white;">PLAZO MAXIMO PARA REALIZARLO Y FECHA DE EXPEDICIÓN</td>
              <td rowspan="4" class="td">
                  <div>
                    <div class="gauge_">
                      <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue"
                        [centralLabel]="centralLabel" [options]="options" [name]="name" [bottomLabel]="bottomLabel">
                      </rg-gauge-chart>
                      <input id="slider" type="range" min="0" max="100" class="no-print" (change)="combus($event)" formControlName="gas"/>
                    </div>
                  </div>
                </td>
            </tr>
            <tr class="tr">
              <td class="td"><input type="text" style="height: 6mm;" tabindex="26" class="focusNext" formControlName="plazo"></td>
            </tr>
            <tr class="tr">
              <td class="td cen" style="background-color: #3f3f3f; color: white;">RIESGOS DEL VEHÍCULO DERIVADOS DE LA REALIZACIÓN DEL DIAGNÓSTICO
              </td>
            </tr>
            <tr class="tr">
              <td class="td"><input type="text" style="height: 6mm;" tabindex="27" class="focusNext" formControlName="riesg"></td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="page">
      <div class="inner">
        <header class="header">
          <div class="logoa">
            <img src="assets/gutmar.png" alt="">
          </div>
          <div class="titlea">
            <h5 style="color: #3e3f3f; margin: 0; font-weight: 600;">GUTMAR AUTOMOTRIZ</h5>
            
           <!--  <p>MECÁNICA ESPECIALIZADA</p>-->
            <p>Tel. 3 34 51 01 Y 3 34 61 59</p>
            <p>g-utmar1@hotmail.com</p>
          </div>
          <div class="logob">
            <p style="border:none; text-align: right;">Pino Humboltzin No. 74</p>
                <p style="border:none; text-align: right;">Fracc. Los Pinos</p>
                <p style="border:none; text-align: right;">C.P. 58057 MORELIA MICH.</p>
                <p style="border:none; text-align: right;">RFC RAG050922T68</p>
            
          </div>
        </header>
        <table>
          <tr>
            <td class="cen" colspan="4" style="font-size: 1.2em; letter-spacing: .5em; padding-bottom: 2mm;">DAÑOS PREEXISTENTES
            </td>
          </tr>
          <tr>
            <td (click)="clear1()" style="cursor: pointer;" class="cen">Lado derecho</td>
            <td (click)="clear2()" style="cursor: pointer;" class="cen">Frente</td>
            <td (click)="clear3()" style="cursor: pointer;" class="cen">Detras</td>
            <td (click)="clear4()" style="cursor: pointer;" class="cen">Lado izquierdo</td>
          </tr>
          <tr>
            <td id="sig1" [ngClass]="{'sedand':myForm.value.tcar=='sedan', 'pickupd':myForm.value.tcar=='pickup', 'suvd':myForm.value.tcar=='suv'}">
              <signature-pad #sig1 [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
            </td>
            <td id="sig2" [ngClass]="{'sedanf':myForm.value.tcar=='sedan', 'pickupf':myForm.value.tcar=='pickup', 'suvf':myForm.value.tcar=='suv'}">
              <signature-pad #sig2 [options]="signaturePadOptions" (onEndEvent)="drawComplete2()"></signature-pad>
            <td id="sig3" [ngClass]="{'sedana':myForm.value.tcar=='sedan', 'pickupa':myForm.value.tcar=='pickup', 'suva':myForm.value.tcar=='suv'}">
              <signature-pad #sig3 [options]="signaturePadOptions" (onEndEvent)="drawComplete3()"></signature-pad>
            </td>
            <td id="sig4" [ngClass]="{'sedani':myForm.value.tcar=='sedan', 'pickupi':myForm.value.tcar=='pickup', 'suvi':myForm.value.tcar=='suv'}">
              <signature-pad #sig4 [options]="signaturePadOptions" (onEndEvent)="drawComplete4()"></signature-pad>
          </tr>
          <tr>
            <td colspan="4">
              <select class="no-print" name="car" style="display: block; height: 0.8cm;" formControlName="tcar">
                <option value="sedan">SEDAN</option>
                <option value="pickup">PICKUP</option>
                <option value="suv">SUV</option>
              </select>
            </td>
          </tr>
        </table>

        <section class="sectiond">
          <div class="table" id="pres">
            <div class="tr">
              <div class="td cen" style="background-color: #3f3f3f;">PRESUPUESTO</div>
              <div class="td"><input type="text" formControlName="presu" tabindex="28" class="focusNext"></div>
              <div class="td cen" style="background-color: #3f3f3f;">VIGENCIA</div>
              <div class="td"><input type="text" formControlName="vigen" tabindex="29" class="focusNext"></div>
            </div>
          </div>
          <!-- <form [formGroup]="myForm" novalidate> -->
            <div class="table" id="main_table" formArrayName="units">
              <div class="tr thead">
                <div class="td">CANTIDAD</div>
                <div class="td">NO. DE PARTE</div>
                <div class="td">OPERACIONES A EFECTUAR Y ELEMENTOS A REPARAR O SUSTITUIR</div>
                <div class="td">PRECIO</div>
                <div class="td">IMPORTE</div>
              </div>
              <div *ngFor="let unit of getControls(myForm, 'units'); let i=index" class="tr" [formGroupName]="i">
                <div class="td" style="border-left:1px solid #bbb;"><input type="number" min="0" step="1" formControlName="cantidad"
                    class="cantidad" tabindex="{{30+i*4}}" class="focusNext" ></div>
                <div class="td"><input type="number" min="0" step="1" class="parte" tabindex="{{31+i*4}}" class="focusNext" formControlName="parte"
                    ></div>
                <div class="td"><input type="text" class="descripcion" tabindex="{{32+i*4}}" class="focusNext" formControlName="desc"
                    ></div>
                <div class="td"><input type="number" min="0" step="1" formControlName="precio" class="punitario" tabindex="{{33+i*4}}"
                    class="focusNext" ></div>
                <div class="td"><input formControlName="importe" type="text" class="importe"></div>
              </div>
            </div>
          <!-- </form> -->
          <div class="table" id="warranty" style="margin-top:2mm; border:none;">
            <div class="tr">
              <div class="td" style="border:none;">
                <div class="tr">
                  <div class="table" id="_a">
                    <div class="tr">
                      <div class="td" style="width:6cm; background:#3f3f3f; color:white; border-radius: 5px;"><span>NO
                          SOMOS RESPONSABLES DE OBJETOS OLVIDADOS EN SU AUTO Y QUE NO SEAN ENTREGADOS A GERENCIA DE
                          SERVICIO.</span></div>
                      <div class="td" style="border:none;">
                        <span>SE ENTREGAN O REFACCIONES REEMPLAZADAS AL CONSUMIDOR</span><br>
                        <input type="radio" name="refac" formControlName="refac" value="si"> SI
                        <input type="radio" name="refac" formControlName="refac" value="no"> NO
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tr">
                  <div class="td" style="width:100%;border:none; padding-top: 3mm;">
                    <span>EN CASO DE QUE EL PRESUPUESTO NO SEA ACEPTADO, EL CONSUMIDOR PAGARÁ EXCLUSIVAMENTE EL COSTO
                      POR LA REVISIÓN Y DIAGNOSTICO. Y EL PRESTADOR DE SERVICIO SE OBLIGA A DEVOLVER EL VEHÍCULO EN
                      LAS CONDICIONES EN LAS QUE FUE ENTREGADO, EXCEPTUANDO LAS CONSECUENCIAS INEVITABLES DEL
                      DIAGNOSTICO.</span>
                    <p style="padding-top: 3mm;">EL COSTO DE $ <input type="number"
                        style="width:2cm; border-bottom: 1px dotted #bbb; font-size: 1.4em; text-align:center; font-weight: 600; color: var(--text-color);"
                        tabindex="71" class="focusNext" formControlName="costo"> M.N </p>
                  </div>
                </div>
              </div>
              <div class="td" style="width:5cm; vertical-align: top; border:none;">
                <div class="table" id="tot_">
                  <div class="tr">
                    <div class="td"><span>REFACCIONES</span></div>
                    <div class="td"><input type="number" value="{{totalRef}}" style="color:#3f3f3f;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>MANO DE OBRA</span></div>
                    <div class="td"><input type="number" name="obra" formControlName="manoo" (change)="updt()" tabindex="66"
                        class="focusNext" ></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>CARGOS ADICIONALES O EXTRAORDINARIOS</span></div>
                    <div class="td"><input type="number" name="obra" formControlName="cargos" (change)="updt()" tabindex="67"
                        class="focusNext" ></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>SEGURO</span></div>
                    <div class="td"><input type="number" name="obra" formControlName="seguro" (change)="updt()" tabindex="68"
                        class="focusNext" ></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>OTROS MATERIALES</span></div>
                    <div class="td"><input type="number" name="otros" formControlName="otrosm" (change)="updt()"
                        tabindex="69" class="focusNext" ></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>SUBTOTAL $</span></div>
                    <div class="td"><input type="number" value="{{subtotal}}" style="color:#3f3f3f;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>I.V.A $</span></div>
                    <div class="td"><input type="number" value="{{ iva}}" style="color:#3f3f3f;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>TOTAL $</span></div>
                    <div class="td"><input type="number" value="{{total}}" style="color:red;"></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>ANTICIPO $</span></div>
                    <div class="td"><input type="number" name="anticipo" formControlName="antici" (change)="updt()"
                        tabindex="70" class="focusNext" ></div>
                  </div>
                  <div class="tr">
                    <div class="td"><span>SALDO $</span></div>
                    <div class="td"><input type="number" value="{{saldo}}" style="color:red;"></div>
                  </div>
                  <div class="tr"></div>
                  <div class="tr"></div>
                  
                </div>
                
              </div>

            </div>
          </div>
        </section>

        <div class="footer">
            <div class="table" style="border:none;">
              <div class="tr">
                <div class="td" style="text-align:center; border:none; padding-bottom: 7mm;">
                  <div class="signature">
                    <div id="contSign2" onclick="btn_click2()">
                      <img src="" id="imgSign2" (load)="imgChanged2($event)">
                    </div>
                    <hr>
                    <p >FIRMA DE QUIEN ELABORO</p>
                    
                  </div>
                </div>
                <div class="td" style=" text-align:center; border:none;">
                  <p>ACEPTO</p>
                  <p>NO DEJO OBJETOS DE VALOR</p>
                  <div class="sign">
                    <!-- <signature-pad [options]="signaturePadOptions"></signature-pad> -->
                    <div class="signature">
                      <div id="contSign" onclick="btn_click()">
                        <img src="" id="imgSign" (load)="imgChanged($event)">
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p>FIRMA DEL CLIENTE</p>
                      <p style="font-size: .8em; margin-top:1mm;">Acepto el presupuesto y ordeno la ejecución de
                        los trabajos a los que se refiere esta
                        orden, manifiesto que estoy plenamente facultado para ello.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="page">
      <div class="inner" style="font-size: 11px; text-align: justify;" id="contrato">
        <p>CONTRATO DE PRESTACIÓN DE SERVICIOS DE REPARACIÓN Y/O MANTENIMIENTO DE VEHÍCULO, QUE CELEBRAN POR UNA PARTE
          <span class="b">GERARDO ALEJANDRE GONZALEZ</span> COMO "EL PRESTADOR DEL SERVICIO" Y POR LA OTRA PARTE <span class="ud b" style="text-transform: uppercase;">{{myForm.value.nombre}}</span> EL
          "CONSUMIDOR" A QUIEN DE MANERA CONJUNTA SE LE DENOMINARA COMO "LAS PARTES" AL TENOR DE LAS SIGUIENTES
          DECLARACIONES Y CLAUSULAS.</p>
        <p class="b cen">DECLARACIONES</p>
        <p class="b">I.- Declara "EL PRESTADOR DE SERVICIO":</p>
        <p>a. Es una persona fisica de <span class="b">nacionalidad </span> <span class="ud"> mexicana</span> y con suficiente capacidad legal para obligarse en los
          términos del siguiente Contrato.</p>
        <p>a). Su domicilio se encuentra ubicado en <span class="b">CALLE JESUS URBINA #255 COL. CHAPULTEPEC ORIENTE,</span> MORELIA
          MICHOACAN, C.P. 58260, MX, el cual señala como domicilio convencional para todos los efectos legales del
          presente Contrato</p>
        <p>b). Se encuentra inscrito en el Registro Federal de Contribuyentes con la <span class="b">clave <input type="text" style="width: 2.5cm;"  tabindex="76" class="focusNext"></span></p>
        <p>c). Cuenta con numero de registro <span class="b">SIEM</span> <input type="text" style="width: 1.5cm;" formControlName="siem" tabindex="77" class="focusNext"></p>
        <p>d). Cuenta con la infraestructura, los elementos propios, los recursos técnico y humanos suficientes para
          cumplir con sus obligaciones conforme a lo establecido en el presente Contrato.</p>
        <p>e). Cumple con las licencias, permisos, avisos, certificados y autorizaciones previstas en las disposiciones
          legales y normas vigentes que corresponden.</p>
        <p>f). Para la atención de dudas, aclaraciones, reclamaciones o para proporcionar servicios de orientación,
          señala el <span class="b">teléfono</span> <input type="text" style="width: 2.5cm;" formControlName="ctel" tabindex="78" class="focusNext"> <span class="b">y correo electronico</span> <input type="text" style="width: 4cm;" formControlName="ccorreo" tabindex="79" class="focusNext"> con <span class="b">un horario</span> de atención de <input type="text" style="width: 1.5cm;" formControlName="chora1" tabindex="80" class="focusNext"> <span class="b">horas a </span> <input type="text" style="width:1.5cm;" formControlName="chora2" tabindex="81" class="focusNext"> <span class="b"> horas.</span></p>
        <p>g). Indico a EL CONSUMIDOR el costo total del servicio objeto del presente Contrato.</p>

        <p class="b">II.- Declara "EL CONSUMIDOR":</p>
        <p>a. Llamarse como ha quedado plasmado en el proemio de este Contrato.</p>
        <p>b. Que es su deseo obligarse en los términos y condiciones del presente Contrato, manifestando que cuenta con
          la capacidad legal para la celebración de este Contrato.</p>
        <p>c. Su domicilio se encuentra <span class="b">ubicado en la Calle</span> <input type="text" style="width: 8cm;" formControlName="ccalle" tabindex="82" class="focusNext">, <span class="b">Numero</span> <input type="text" style="width: 2cm;" formControlName="cnum" tabindex="83" class="focusNext">, <span class="b">Colonia</span> <input type="text" style="width: 8cm;" formControlName="ccolon" tabindex="84" class="focusNext">,
          <span class="b">Delegación</span> <input type="text" style="width: 6cm;" formControlName="cdeleg" tabindex="85" class="focusNext">, <span class="b">Código Postal </span> <span class="ud">{{myForm.value.cp}}</span>, en todos los efectos legales del presente Contrato.</p>
        <p>d. Se encuentra inscrito en el Registro Federal de Contribuyentes <span class="b">con la clave </span> <span class="ud" style="text-transform: uppercase;">{{myForm.value.rfc}}</span></p>
        <p>En virtud de las declaraciones anteriores, Las "partes" convienen en obligarse conforme a las siguiente:</p>

        <p class="b cen">CLÁUSULAS</p>

        <p><span class="b">PRIMERA.</span> CONSENTIMIENTO.-LAS PARTES de común acuerdo manifiestan su voluntad para celebrar el presente
          Contrato cuya naturaleza jurídica es la Reparación y/o mantenimiento del vehículo.</p>
        <p><span class="b">SEGUNDA.</span> OBJETO.- El objeto del presente Contrato es que EL PRESTADOR DEL SERVICIO realizara las operaciones
          y composturas descritas en el anverso del presente Contrato, solicitadas por EL CONSUMIDOR previo pago de un
          precio cierto y determinado y a las que se someterá el vehículo para obtener condiciones de funcionamiento de
          acuerdo al estado de éste. Asimismo. EL PRESTADOR DEL SERVICIO no condicionará la prestación del servicio de
          reparación y/o mantenimiento del vehículo a la adquisición o renta del otro producto o servicios en el
          establecimiento o en otro taller o agencia.</p>
        <p><span class="b">TERCERA.</span> COSTO DEL SERVICIO.- El precio total del servicio contratado se establece en el presupuesto que
          forma parte del presente Contrato. Debera realizar el primer pago por concepto de anticipo y el resto en la
          fecha de entrega del vehículo, dichas cantidades se indican en el anverso del presente Contrato. Todo pago
          efectuado por EL CONSUMIDOR deberá realizarse en el establecimiento de EL PRESTADOR DEL SERVICIO al contado,
          en efectivo, con tarjeta de débito, tarjeta de credito, transferencia bancaria o cheque, en moneda nacional,
          sin menoscabo de poderlo hacer en moneda extranjera al tipo de cambio publicado en el Diario Oficial de la
          Federación al día en que el pago se efectúe.</p>
        <p>En caso de que EL CONSUMIDOR realice el pago con cheque y no se cubra el pago por causas imputables al
          librador, EL PRESTADOR DEL SERVICIO se reserva el derecho de realizar el cobro adicional del 20% (veinte por
          ciento) del valor del documento, por concepto de daños y perjuicios en caso de que el cheque sea devuelto por
          causas imputables al librador, conforme el articulo 193 de la Ley General de Títulos y Operaciones de Crédito.
        </p>
        <p>En cualquier caso, EL PRESTADOR DEL SERVICIO se obliga a emitir y entregar a EL CONSUMIDOR la factura
          correspondiente o documento fiscal que ampare los cobros realizados por la prestación del Servicio
          proporcionado conforme a la legalización correspondiente.</p>
        <p>EL PRESTADOR DEL SERVICIO pondrá a disposición del CONSUMIDOR los precios de los
          servicios, mano de obra, y materiales a usar en las reparaciones ofrecidas. Asimismo, previo a la realización
          del servicio EL PRESTADOR DEL SERVICIO presentará a EL CONSUMIDOR el presupuesto. Una vez aprobado el
          presupuesto por EL CONSUMIDOR, EL PRESTADOR DEL SERVICIO procederá a efectuar el servicio solicitado. Los
          incrementos que resulten durante la reparación por costos previsibles deberán ser autorizados por EL
          CONSUMIDOR, en forma escrita, siempre y cuando éstos excedan al 20% del presupuesto. Si el incremento citado
          es inferior lo podrán autorizar telefónicamente. El tiempo, que en su caso, transcurra para requisitar esta
          condición se modificará la fecha de entrega, en la misma proporción.</p>
        <p>EL importe señalado en el Presupuesto, contempla todas las cantidades y conceptos referentes al objeto del
          presente Contrato; por lo que EL PRESTADOR DEL SERVICIO se obliga a respetar en todo momento dicho costo sin
          poder cobrar otra cantidad no estipulada en el presente Contrato, por lo que cualquier otro costo no previsto
          en el presente Contrato, deberá ser autorizado de manera escrita por EL CONSUMIDOR.</p>
        <p><span class="b">CUARTA.</span> ENTREGA DEL VEHÍCULO.- La entrega del vehículo será en la fecha contemplada en el anverso del
          presente Contrato. Para el caso que EL CONSUMIDOR sea el que proporcione las refacciones, la fecha de entrega
          será <span class="ud">{{myForm.value.entrega}}</span></p>
        
        

      </div>
    </div>
  </section>

  <section>
    <div class="page">
      <div class="inner" style="font-size: 11px; text-align: justify;" id="contrato">
        <p><span class="b">QUINTA.</span> REFACCIONES Y PARTES PARA LA PRESTACIÓN DEL SERVICIO.- EL PRESTADOR DEL SERVICIO exclusivamente
          utilizará para los servicios objeto de este Contrato partes, refacciones u otros materiales nuevos y
          apropiados para el vehículo, salvo que EL CONSUMIDOR AUTORICE EXPRESAMENTE QUE USEN OTRAS. Si EL PRESTADOR DEL
          SERVICIO autoriza, EL CONSUMIDOR suministrará las partes, refacciones o materiales necesarios para la
          reparación y/o mantenimiento del vehículo. En ambos casos, la autorización respectiva se hará constar en el
          anverso del presente Contrato.</p>
        <p><span class="b">SEXTA.</span> ENTREGA DE LAS PARTES O REFACCIONES.- EL PRESTADOR DEL SERVICIO hará entrega de las refacciones,
          partes o piezas sustituidas en la reparación y/o mantenimiento del vehículo al momento de entrega de éste,
          salvo en los siguientes casos:</p>
        <p style="padding-left: 2cm;"> a. Cuando EL CONSUMIDOR, expresa lo contrario.</p>
        <p style="padding-left: 2cm;"> b. Las partes, refacciones o piezas sean cambiadas en uso de garantía.</p>
        <p style="padding-left: 2cm;"> c. Se trate de residuos considerados peligrosos de acuerdo con las disposiciones legales
          aplicables.</p>
        <p class="b">SÉPTIMA. OBLIGACIONES DE LAS PARTES.-</p>
        <p class="b">EL PRESTADOR DEL SERVICIO SE OBLIGA A:</p>
        <p style="padding-left: 2cm;">a. Cumplir con lo establecido en el presente Contrato.</p>
        <p style="padding-left: 2cm;">b. Entregar a EL CONSUMIDOR las refacciones o partes del vehículo que haya cambiado a la entrega del
          vehículo.</p>
        <p style="padding-left: 2cm;">c. Entregar el vehículo en las fechas establecidas en el presente Contrato.</p>
        <p style="padding-left: 2cm;">d. Proporcionar la información necesaria que sea solicitada por EL CONSUMIDOR, en relación con el presente
          Contrato.</p>
        <p style="padding-left: 2cm;">e. Cumplir ante cualquier percance en caso de subcontratar los servicios.</p>
        <p class="b">EL CONSUMIDOR SE OBLIGA A:</p>
        <p style="padding-left: 2cm;">a. Cumplir con lo establecido en el presente Contrato.</p>
        <p style="padding-left: 2cm;">b. Proporcionar a EL PRESTADOR DEL SERVICIO el vehículo en la fecha y horario establecido en el presente
          Contrato.</p>
        <p style="padding-left: 2cm;">c. Entregar a EL PRESTADOR DEL SERVICIO las refacciones o partes que le hayan solicitado este último.</p>
        <p style="padding-left: 2cm;">d. Recoger el vehículo en la fecha establecida en este Contrato.</p>
        <p style="padding-left: 2cm;">e. En caso de que el servicio sea prestado en el domicilio indicado por EL CONSUMIDOR deberá permitir el paso
          previa identificación DEL PRESTADOR DEL SERVICIO.</p>
        <p style="padding-left: 2cm;">f. Hacer los pagos correspondientes establecidos en este Contrato en tiempo.</p>
        <p><span class="b">OCTAVA. GARANTÍA DE LA PRESTACIÓN DEL SERVICIO.-</span> Las reparaciones a que se refiere el presupuesto aceptado
          por EL CONSUMIDOR, tienen una garantía de 90 (noventa) días contados a partir de la fecha de entrega del
          vehículo ya reparado en mano de obra y en refacciones la especificada por el fabricante, siempre y cuando no
          se manifieste mal uso, negligencia o descuido. Si el vehículo es intervenido por un tercero, EL PRESTADOR DEL
          SERVICIO no será responsable y la garantía quedará sin efecto. Las Reparaciones por garantía se harán en el
          establecimiento de EL PRESTADOR DEL SERVICIO, para lo cual EL CONSUMIDOR deberá presentar su vehículo en dicho
          establecimiento.</p>
        <p>Las reparaciones efectuadas por EL PRESTADOR DEL SERVICIO en cumplimiento a la garantía del servicio, serán
          sin cargo alguno para EL CONSUMIDOR. Salvo aquellos trabajos que no derivan de las reparaciones aceptadas en
          el presupuesto. No se computara dentro del plazo de garantía el tiempo que la reparación y/o mantenimiento del
          vehículo para el cumplimiento de la misma. Los gastos en que incurra EL CONSUMIDOR para hacer valida la
          garantía en un domicilio diverso al de EL PRESTADOR DEL SERVICIO, DEBERÁN SER CUBIERTOS POR ÉSTE.</p>
        <p><span class="b">NOVENA.</span> PRUEBAS DEL VEHÍCULO.- EL CONSUMIDOR, autoriza el uso del vehículo en zonas aledañas con un radio de
          5 kilómetros del área del establecimiento, a efecto de pruebas o verificaciones de las reparaciones a efectuar
          o efectuadas. EL PRESTADOR DEL SERVICIO no podrá utilizar el vehículo para uso personal, fines propios o de
          terceros.</p>
        <p><span class="b">DÉCIMA.</span> RESPONSABILIDAD POR DAÑOS AL VEHÍCULO.- EL PRESTADOR DEL SERVICIO se hace responsable por los daños
          causados al vehículo de EL CONSUMIDOR, como consecuencia de los recorridos de prueba por parte del personal de
          EL PRESTADOR DEL SERVICIO. El riesgo en un recorrido de prueba es por cuenta de EL CONSUMIDOR, cuando él mismo
          solicite que será el o un representante suyo quién guié el vehículo. Asimismo, EL PRESTADOR DEL SERVICIO se
          hace responsable por las descomposturas, daños, perdidas parciales o totales, imputables a él o a sus
          empleados, que sufra el vehículo, el equipo y sus aditamentos que EL CONSUMIDOR haya notificado al momento de
          la recepción del vehículo, mientras se encuentre bajo su responsabilidad para llevar a cabo la reparación y/o
          mantenimiento solicitado así como para hacer efectiva la garantía otorgada.</p>
        <p>Para tal efecto EL PRESTADOR DEL SERVICIO <input type="radio" name="cseguro" formControlName="cseguro" value="si"> SI
          <input type="radio" name="cseguro" formControlName="cseguro" value="no"> NO cuenta con seguro para cubrir dichas eventualidades, cuyo
          numero de póliza es <input type="text" style="width: 2.5cm;" formControlName="cpoliz" tabindex="86" class="focusNext"> <span class="b"> con la compañia</span> <input type="text" style="width: 5cm;" formControlName="ccompa" tabindex="87" class="focusNext"> EL PRESTADOR DEL SERVICIO no se hace responsable por la
          pérdida de objetos dejados en el interior del vehículo, aún con la cajuela cerrada, salvo que estos hayan sido
          notificados y puestos bajo resguardo al momento de la recepción del vehículo.</p>
        <p><span class="b">DÉCIMA PRIMERA.</span> CAUSAS DE RESCISIÓN.- son causas de rescisión:</p>
        <p style="padding-left: 2cm;">a) Que alguna de LAS PARTES no cumpla con lo estipulado en el presente Contrato.</p>
        <p style="padding-left: 2cm;">b) Si el Servicio prestado no corresponde con lo pactado y/o solicitado por EL CONSUMIDOR.</p>
        <p>En caso de rescisión del presente Contrato, la parte que incumpla deberá de pagar lo correspondiente a la
          pena convencional.</p>
        <p><span class="b">DÉCIMA SEGUNDA.</span> PENA CONVENCIONAL.- Se establece como pena convencional por el incumplimiento de cualquiera
          de las partes a las obligaciones contraídas en el presente Contrato, el 15% (quince por ciento) de la
          Presentación del Servicio de reparación o mantenimiento del vehículo sin incluir el Impuesto al Valor Agregado
          (I.V.A)</p>
        <p>Esta sanción se estipula por el simple retraso en el cumplimiento de las obligaciones y que la prestación del
          Servicio no sea prestado conforme a lo establecido en el presente Contrato, sin perjuicio del derecho que
          tienen LAS PARTES de optar entre exigir el cumplimiento del Contrato o rescindirlo.</p>
        

        
       
        
      </div>
    </div>
  </section>

  <section>
    <div class="page">
      <div class="inner" style="font-size: 11px; text-align: justify;" id="contrato">
        <p>LAS PARTES en el caso de que requieran el pago de la Pena convencional por cualquiera de los supuestos
          señalados en la Cláusula décima deberán de solicitar por escrito en el domicilio de la parte que incumplió, el
          pago de dichas penas debiendo hacer el pago la parte que incumplió en los 5 (cinco) días hábiles siguientes de
          haber recibido dicha solicitud.</p>
        <p><span class="b">DÉCIMA TERCERA.</span> ENTREGA DEL VEHÍCULO.- En caso de que el vehículo no sea recogido por EL CONSUMIDOR en un
          plazo de 48 horas a partir de la fecha señalada para la entrega, pagará por concepto de depósito un salario
          mínimo vigente en el lugar que se celebre el presente Contrato por cada 24 hrs., que transcurran.</p>
        <p><span class="b">DÉCIMA CUARTA.</span> CANCELACIÓN DE CONTRATO.- EL CONSUMIDOR cuenta con un plazo de 5 (cinco) días hábiles
          posteriores a la firma del presente Contrato para cancelar la operación sin responsabilidad y penalización
          alguna de su parte, en cuyo caso EL PRESTADOR DEL SERVICIO se obliga a reintegrar todas las cantidades que el
          EL CONSUMIDOR le haya entregado en un plazo de 5 (cinco) días naturales posteriores a la solicitud de
          cancelación. La cancelación aplica siempre y cuando EL PRESTADOR DEL SERVICIO no haya iniciado el Servicio
          objeto del presente Contrato.</p>
        <p>Las cancelaciones deberán solicitarse por escrito en el domicilio señalado en el presente Contrato o bien,
          por correo registrado o certificado tomando como fecha de revocación de recepción para su envío.</p>
        <p><span class="b">DÉCIMA QUINTA.</span> SUBCONTRATACIÓN.- En caso de que EL PRESTADOR DEL SERVICIO desee subcontratar la prestación
          del servicio deberá hacerlo del conocimiento a EL CONSUMIDOR al momento de la firma del presente Contrato.</p>
        <p>Cualquier incumplimiento a lo establecido en el presente Contrato, EL PRESTADOR DEL SERVICIO responderá ante
          EL CONSUMIDOR por dicho incumplimiento.</p>
        <p><span class="b">DÉCIMA SEXTA.</span> PRESTACIÓN DEL SERVICIO EN EL DOMICILIO DEL CONSUMIDOR.- Cuando la prestación del Servicio se
          valla a llevar a cabo en el domicilio señalado EL CONSUMIDOR, el personal de EL PRESTADOR DEL SERVICIO debe
          identificarse plenamente ante EL CONSUMIDOR, mediante la prestación del documento que lo acredite para este
          propósito. En caso de que dicho servicio tenga un costo, éste se indicará en el anverso del presente Contrato.
        </p>
        <p><span class="b">DÉCIMA SÉPTIMA.</span> NO RESPONSABILIDAD DEL PRESTADOR DEL SERVICIO.- EL CONSUMIDOR libera a EL PRESTADOR DEL
          SERVICIO de cualquier responsabilidad que hubiere surgido o pudiese surgir con relación al origen, propiedad,
          posesión o cualquier otro derecho inherente al vehículo, partes o componentes del mismo.</p>
        <p><span class="b">DÉCIMA OCTAVA.</span> AVISO DE PRIVACIDAD.- Previo a la firma del presente Contrato y en cumplimiento a lo dispuesto
          en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, EL PRESTADOR DEL SERVICIO
          hizo del conocimiento a EL CONSUMIDOR del <span class="b">aviso de privacidad, el cual se encuentra en</span> <input type="text" style="width: 6cm;" formControlName="caviso" tabindex="88" class="focusNext">, así como del
          procedimiento para ejercer los derechos de acceso, rectificación, cancelación y oposición al tratamiento de
          sus datos personales (en adelante, derechos "ARCO").</p>
        <p><span class="b">DÉCIMA NOVENA.-</span> La Procuraduría del Consumidor es competente en la via administrativa para resolver cualquier
          controversia que se suscite sobre la interpretación o cumplimiento del presente Contrato. Sin perjuicio de lo
          anterior, LAS PARTES se someten a la jurisdicción de los <span class="b">Tribunales competentes en</span> <input type="text" style="width: 3cm;" formControlName="ctribu" tabindex="89" class="focusNext">, renunciando
          expresamente a cualquier otra jurisdicción que pudiera corresponderles, por razón de sus domicilios presentes
          o futuros o por cualquier otra razón.</p>
        <p>Leído que fue por las partes el contenido del presente contrato y sabedores de su alcance legal, <span class="b">lo firmamos
            por duplicado en la Ciudad de</span> <input type="text" style="width: 6cm;" formControlName="cciudad" tabindex="90" class="focusNext"> a los <input type="text" style="width: 1.5cm;" formControlName="cdias" tabindex="91" class="focusNext"> días de mes de <input type="text" style="width: 1.5cm;" formControlName="cmes" tabindex="92" class="focusNext"> del año <input type="text" style="width: 1.5cm;" formControlName="canio" tabindex="93" class="focusNext">.</p>

            <table style="margin-bottom: 5mm;">
              <tr>
                <td>
                  <div class="signature">
                      <div id="contSign3" onclick="btn_click3()">
                        <img src="" id="imgSign3" >
                      </div>
                      <hr>
                      <p style="font-size: 1.1em;">EL PRESTADOR DEL SERVICIO</p>
                      
                    </div>
                </td>
                <td>
                  <div class="signature">
                      <div id="contSign4" onclick="btn_click4()">
                        <img src="" id="imgSign4" >
                      </div>
                      <hr>
                      <p style="font-size: 1.1em;">EL CONSUMIDOR</p>
                      
                    </div>
                </td>
              </tr>
            </table>

            <div class="footer">
              <p>Autorización para la utilización de información con fines mercadotécnicos o publicitarios.</p>
              <p>EL CONSUMIDOR <input type="radio" name="cacept1" formControlName="cacept1" value="si"> SI
                <input type="radio" name="cacept1" formControlName="cacept1" value="no"> NO acepta que EL PRESTADOR DEL SERVICIO cede o trasmita a terceros, con fines
                mercadotécnicos o publicitarios, la información proporcionada por él motivo del presente contrato y <input type="radio" name="cacept2" formControlName="cacept2" value="si"> SI
                <input type="radio" name="cacept2" formControlName="cacept2" value="no"> NO
                acepta que EL PRESTADOR DEL SERVICIO le envié publicidad sobre bienes y servicios.</p>
              <table style="margin-bottom: 10mm;">
                <tr>
                  <td>
                      <div class="signature">
                          <div id="contSign5" onclick="btn_click5()">
                            <img src="" id="imgSign5" >
                          </div>
                          <hr>
                          <p style="font-size: 1.1em;">FIRMA DE AUTORIZACIÓN DE EL CONSUMIDOR</p>
                          
                        </div>
                  </td>
                </tr>
              </table>
            </div>
      </div>
    </div>
  </section>
 -->
  
  <div class="no-print" id="printBtn" onclick="window.print()">
      <img src="assets/print.svg" alt="" width="55" height="55">
    </div>

  </form>
</div>