<app-navbar [save]="save" [goBack]="goBack" [user_u]="user_u">
</app-navbar>

<div id="test-swipe-2" class="col s12 grey lighten-2">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <span class="card-title"><b style="margin-left: 2em;">Datos de los Clientes</b></span>

        <div class="card-content">
           <table *ngIf="data_" datatable [dtOptions]="dtOptions" class="row-border hover">
         <!--  <table> -->
            <thead>
              <tr>
                <th>Orden</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Fecha Ingreso</th>
                <th>Marca</th>
                <!-- <th>Siniestro</th>-->
                <th>Estado</th>
              </tr>
            </thead>
            <tbody *ngIf="this.authApi.isLoggedInAdmin">
              <tr *ngFor="let form of Form;let i=index; " [routerLink]="['/edit/', form.$key]" style="cursor: pointer;">
                <td>{{form.orden}}</td>
                <td>{{form.nombre}}</td>
                <td>{{form.tel}}</td>
                <td>{{form.ingreso}}</td>
                <td>{{form.marca}}</td>
                <td *ngIf="form.estado=='RECEPCIÓN'" class="rec"></td>
                <td *ngIf="form.estado=='FASE1'" class="hoj"></td>
                <td *ngIf="form.estado=='FASE2'" class="pin"></td>
                <td *ngIf="form.estado=='FASE3'" class="pul"></td>
                <td *ngIf="form.estado=='STAND BY'" class="sta"></td>
                <td *ngIf="form.estado=='TERMINADO'" class="ter"></td>
              </tr>
            </tbody>
            <tbody *ngIf="!this.authApi.isLoggedInAdmin">
              <tr *ngFor="let form of Form;let i=index; " [routerLink]="['/edit-user/', form.$key]" style="cursor: pointer;">
                <td>{{form.orden}}</td>
                <td>{{form.nombre}}</td>
                <td>{{form.tel}}</td>
                <td>{{form.ingreso}}</td>
                <td>{{form.marca}}</td>
                <td *ngIf="form.estado=='RECEPCIÓN'" class="rec"></td>
                <td *ngIf="form.estado=='FASE1'" class="hoj"></td>
                <td *ngIf="form.estado=='FASE2'" class="pin"></td>
                <td *ngIf="form.estado=='FASE3'" class="pul"></td>
                <td *ngIf="form.estado=='STAND BY'" class="sta"></td>
                <td *ngIf="form.estado=='TERMINADO'" class="ter"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
